<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <body>

        <div ng-app="myApp" ng-controller="namesCtrl">
            <div class="container" ng-show="!employees.length"><textarea class="form-control" rows="25" placeholder="XML" ng-model="task.xml"></textarea>
                <div class="divbutton">
                    <input type="text" ng-model="task.id" placeholder="Id">
                    <input class="button" type="button" value="submit" ng-click="submitXml();">
                    <select class="button" ng-show="problemIds.length>0" ng-model="problemId" ng-options="id.planningId for id in problemIds">
                    </select>
                    <input class="button" type="button" ng-show="problemIds.length>0" value="Status" ng-click="getStatus();">
                    <input class="button" type="button" ng-show="problemIds.length>0" value="Solution" ng-click="getSolution();">
                    <input class="button" type="button" ng-show="false" value="Location" ng-click="makeLocationData();">
                    <span class="status">{{planningProblem.status}}</span>
                </div>
            </div>

            <div ng-show="employees.length>0">
                <div class="table-details">
                <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Details</th>
                            <th>Number</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1.Total Task</td>
                            <td>{{taskListSize}}</td>
                          </tr>
                             <tr>
                            <td>2.Total Vehicle</td>
                            <td>{{vehicleList}}</td>
                          </tr>
                             <tr>
                            <td>3.Total Employee</td>
                            <td>{{employeeList}}</td>
                          </tr>
                            <tr>
                            <td>4.Total Unassign</td>
                            <td>{{unassigntasksList}}</td>
                          </tr>
                             <tr>
                            <td>5.Assign Employee</td>
                            <td>{{assignedEmp}}</td>
                          </tr>
                             <tr>
                            <td>6.UnAssign-Employee</td>
                            <td>{{unAssignEmp}}</td>
                          </tr>
                             
                        </tbody>
                      </table>
                </div>
                
                            <div class="staff-info-box clearfix">
                                <ul class="staff-list clearfix" ng-repeat="emp in employees">
                                    <li>
                                        <span class="number">{{emp.employeeNumber}}</span>
                                        <div class="staff-name">
                                            <span>{{emp.employeeName}}, V={{emp.vehicleId}}</span>,
                                            <span>{{emp.availableTime.startTimeString}} - {{emp.availableTime.endTimeString}}</span><span ng-show="false">{{emp.employeeLocation.latitude}}-{{emp.employeeLocation.longitude}}</span>
                                        </div>

                                        <ul class="staff-task-list" ng-repeat="task in emp.nextTasks">
                                            <li>
                                                <div class="task-duration-box">
                                                    <span class="task-duration">{{task.arrivaltime}} min</span>
                                                </div>
                                                <div class="task-box">
                                                    <span ng-show="false">{{task.hardcontrants}}</span>
                                                    <span class="task-time">{{task.startTime | date:'HH:mm:ss'}} - {{task.endTime | date:'HH:mm:ss'}}</span>
                                                    <span class="task-id">{{task.id}},{{task.taskName}},{{task.citizenName}}</span>
                                                    <span ng-show="false">{{task.taskLocation.latitude}}-{{task.taskLocation.longitude}}</span>
                                                </div>
                                            </li>
                                          <div class="last-box" ng-show="task.timeReachToUnit>=0">
                                                <span>{{task.timeReachToUnit}}</span>
                                        </div>
                                        </ul>
                                          

                                    </li>
                                </ul>

                            </div>

                <div>
<!--
                    <ul ng-repeat="task in tasksList">
                        <li>
                            <div>
                                <span>{{task.id}}</span>
                                <span>{{task.taskName}}</span>
                                <span>{{task.taskLocation.latitude}}{{task.taskLocation.longitude}}</span>
                                <span>{{task.citizenName}}</span>
                                <span>{{task.startTime}} - {{task.endTime}}</span>
                            </div>


                        </li>
                    </ul>
-->
                     <!--<ul ng-repeat="emp in unavailableEmpl">
                        <li>
                            <div>
                                <span>{{emp.id}}</span>
                                <span>{{emp.employeeName}}</span>
                                <span>{{emp.startTime}} - {{emp.endTime}}</span>
                            </div>


                        </li>
                    </ul>-->
                    
                    <div class="unassigned-task">
                        <h4 class="heading">unassigned tasks</h4>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Task Nane</th>
                            <th>Location</th>
                            <th>Citizen Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="task in tasksList">
                            <td>{{task.id}}</td>
                            <td>{{task.taskName}}</td>
                            <td>{{task.taskLocation.latitude}}{{task.taskLocation.longitude}}</td>
                            <td>{{task.citizenName}}</td>
                            <td>{{task.startTime | date:'HH:mm:ss'}}</td>
                            <td>{{task.endTime | date:'HH:mm:ss'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                </div>
            </div>
        </div>
        <script src="optaCtrl.js"></script>

    </body>
</html>
